main {
    width: 100vw;
    height: 100vh;
}
.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}
.mapouter {
    border: 3px solid #C47529;
}
.title {
    width: auto;
    height: auto;
}
.title-gradient {
    font-size: 24px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 75px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.subtitle {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 85px;
    background: url('../imgs/bg.png');
}
.form {
    margin-top: 20px;
    z-index: 99;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form label {
    font-family: 'Source Serif 4';
    font-weight: bold;
    font-size: 24px;
    overflow: hidden;
}